:root{
    --body-background-color:hsl(0, 0%, 8%);
    --container-bg-color: hsl(0, 0%, 12%);
    --element-bg-color:hsl(0, 0%, 20%);
    --container-padding:25px;
    --container-gap:20px;
    --container-border-radius:10px;
    --element-border-radius:5px;
    --element-gap:10px;
    --img-border-radius:50%;
    --paragraph-font-size:14px;
    --paragraph-big-font:22px;
    --paragraph-color:hsl(0, 0%, 100%);
    --residence-color:hsl(75, 94%, 57%);
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background-color);
    min-height:100vh;
    margin:0;
    font-family: 'Inter', sans-serif;
}
p,h1,a{
    padding:0;
    margin:0;
}
p,a{
    color: var(--paragraph-color);
    font-size:var(--paragraph-font-size);
}
.main-container{
    width:min(280px,90%);
    padding:var(--container-padding);
    background-color: var(--container-bg-color);
    border-radius: var(--container-border-radius);
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:var(--container-gap);
    margin:auto;
}
.image-container{
    width:100%;
    display:flex;
    justify-content: center;
}
.image-settings{
    width:60px;
    height:60px;
    border-radius: var(--img-border-radius);
}
.info-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:var(--element-gap);
}
.name-settings{
   font-size: var(--paragraph-big-font);
   font-weight: 600;
}
.residence-settings{
    color:var(--residence-color);
    font-weight: 700;
}
.skills-settings{
    font-weight: 400;
    text-align: center;
}
.links-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:var(--element-gap);
}
.links-container p, 
.links-container a{
 display:block;
 background-color: var(--element-bg-color);
 border-radius: var(--element-border-radius);
 width:100%;
 text-align: center;
 padding:7.5px 0;
 font-weight: 600;
}
.links-container a{
    text-decoration: none;
}
.disabled-icon{
  cursor: not-allowed;
  
}